a{
    cursor: pointer;
    text-transform: uppercase;
}
th{
    text-transform: uppercase;
    text-align: center;
 
}
td{
    text-align: center;
    font-size: 5vh;
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
header {
    background: rgba(0,0,0,0.9);
    width: 100%;

 
  }